h1 {
    color:blue;
}

.corpoCalc {
    background-color:grey;
    width: 40%;
    height: 400px;
}

input {
    background-color:rgb(250, 246, 246);
    width: 80%;
    padding: 10px;
    margin: 20px 40px 30px 40px;
}

button {
    background-color: rgb(115, 107, 107);
    color: white;
    width: 100px;
    padding: 20px;
    margin: 15px 15px 10px 15px;
    font-size: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}